<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Lista de Tareas</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark" style="text-align: center;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><h1>Mi Lista de Tareas</h1></a>
                
            </div>
            </nav>
    </header>

    <main>
        <form id="note" action="/edit/" method="post">
            <(const d of data)>
                <div class="notes card text-whoth bg-warning mb-3" style="max-width: 20rem;">
                    <div class="card-header"><input type="text" value="nombre" readonly></div>
                    <div class="card-body">
                        <p class="card-text"><textarea readonly>descripcion</textarea></p>
                    </div>
                    <div class="options">
                        <a href="/edit/?id=<%= d.id %>" id="edit" class="btn btn-primary">Editar Tarea</a>
                        <a href="/delete/?id=<%= d.id %>" id="delete" class="btn btn-secondary">Eliminar Tarea</a>
                        <a href="#update" id="update" class="btn btn-success">Actualizar</a>
                        <div id="btn_update" style="display: none;"><input type="submit" value="" class="btn btn-secondary"></div>
                        <a href="/" id="cancel" class="btn btn-dark">Cancelar</a>
                    </div>
                </div>
                <% } %>
                    <button class="add btn btn-success">Agregar Tarea</button>
        </form>
        <form id="new" action="/new" method="post" style="position: absolute;">
            <div class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crear Tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">    
                    <div class="title">
                        <label for="title">Titulo</label>
                        <input type="text" name="note" value="">
                    </div>
                    <div class="description">
                        <label for="text">Descripción</label>
                        <textarea name="description" cols="30" rows="3"></textarea>
                    </div>
                <div class="btns">
                    
                </div>
                </div>
                <div class="modal-footer btns">
                    <input type="submit" class="btn btn-primary" value="Agregar" id="btn_new">
                    <input type="button" class="btn btn-secondary" value="Cancel" id="btn_cancel">
                </div>
                </div>
            </div>
            </div>
            
        </form>
    </main>
    <script src="./js/cards.js"></script>
</body>

</html>